{% extends 'presenter/base.html' %}

{% block content %}
<script>
    function displayFriends() {
        FB.api('/me/friendlists', function(request) {
            console.log('/me/friends')
            console.log(request)
            var friendsInApp = request.data.length
            // var friendsInTotal = request.summary.total_count
            var html = friendsInApp + ' of your friends installed this app'
            document.getElementById('info').innerHTML = html
        })
    }
</script>
<div>
<fb:login-button scope="public_profile, user_friends" onlogin="displayFriends()">
</fb:login-button>
</div>
<div>
    Friends:
    <div id='info'></div>
</div>
{% endblock %}