{% extends 'presenter/base.html' %}

{% block content %}
<script>
    function displayPosts() {
        FB.api('/me/posts', function(request) {
            console.log('/me/posts')
            console.log(request)
            var data = request.data
            data = data.filter(elem => elem.message)
            var html = ''
            data.forEach( elem => {
                html += '<li>' + elem.message + '</li>'
            })
            document.getElementById('list').innerHTML = html
        })
    }
</script>
<div>
<fb:login-button scope="public_profile, user_posts" onlogin="displayPosts()">
</fb:login-button>
</div>
<div>
    Posts:
    <ul id='list'>
    </ul>
</div>
{% endblock %}